---
data: '"frontMatter"'
---

{{#extend "layout" title="Title"}}
  {{#content "main"}}
    {{#if data}} <div>Local Data: {{{typogrFormat data}}}</div>{{/if}}
    {{#ifEqual global './src/data/'}}<div>Global Data: {{global}}</div>{{/ifEqual}}
    <div>Built @ {{isoDate}}</div>
  {{/content}}
{{/extend}}