---
data: '"frontMatter"'
---

{{#extend "layout" title="Title"}}
  {{#content "main"}}
    {{#if locals.data}} <div>Data: {{{typogrFormat locals.data}}}</div>{{/if}}
    {{#ifEqual globals.data './src/data/'}}<div>Data: {{globals.data}}</div>{{/ifEqual}}
    <div>Built @ {{isoDate}}</div>
  {{/content}}
{{/extend}}